*
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.menu
{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(29, 29, 29);
    align-items: center;
}
.menu a
{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.info
{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.info h2
{
    font-size: 45px;
    padding: 20px 0px 10px;
    font-family: 'Agdasima', sans-serif;
    border-bottom: 1px solid gray;
}
.baner
{
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.baner img
{
    width: 98%;
}
.about
{
    width: 100%;
}
.about h3
{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding: 50px 30px 20px;
    line-height: 36px;
}
.about p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px 20px;
    line-height: 19px;
}
.artykul
{
    width: 100%;
}
.artykul h3
{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    padding: 50px 30px 20px;
    line-height: 36px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.artykul img
{
    width: 100%;
}
.artykul p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 30px 30px 20px;
    line-height: 19px;
}
@media only screen and (min-width: 900px)
{
.wrapper
{
    width: 900px;
    margin: 0 auto;
}
.info
{
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}
.about h3
{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding: 50px 30px 20px;
    line-height: 44px;
}
.about p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px 20px;
    line-height: 22px;
}
.artykul p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 40px 5px 20px;
    line-height: 22px;
}
}