*
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.menu
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    align-items: center;
    overflow: hidden;
}
.menu a
{
    font-size: 14px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.menu h4
{
    text-decoration: none;
    font-family: 'Agdasima', sans-serif;
    padding: 5px;
    color: white;
    background-color: black;
}
.menu img
{
    width: 10%;
}
.baner
{
    width: 100%;
}
.baner img
{
    width: 100%;
}
.about
{
    padding-top: 40px;
    width: 100%;
}
.about h2
{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    padding: 30px 50px 20px;
    line-height: 36px;
}
.about p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px 20px;
    line-height: 19px;
}
.about img
{
    width: 100%;
    padding: 20px 0px 10px;
}
@media only screen and (min-width: 1300px)
{
.wrapper
{
    width: 1300px;
    margin: 0 auto;
}
.menu
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.menu a
{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
}
.menu h4
{
    font-size: 28px;
    text-decoration: none;
    font-family: 'Agdasima', sans-serif;
    margin-right: 600px;
    padding: 5px;
    color: white;
    background-color: black;
}
.baner
{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.about
{
    padding-top: 40px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}
.about img
{
    width: 96%;
}
.zdjecie1, .zdjecie2
{
    width: 100%;
}
}