*
{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 100%;
}
.menu
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    background-color: white;
    align-items: center;
    overflow: hidden;
}
.menu a
{
    font-size: 14px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
.menu a:hover
{
    color: rgb(4, 226, 226);
    transition: 0.4s;
}
.menu h4
{
    text-decoration: none;
    font-family: 'Agdasima', sans-serif;
    padding: 5px;
    color: white;
    background-color: black;
}
.menu img
{
    width: 10%;
}
.baner
{
    width: 100%;
}
.baner img
{
    width: 100%;
}
.about
{
    padding-top: 40px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}
.about h2
{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    padding: 30px 50px 20px;
    line-height: 36px;
}
.about p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px 20px;
    line-height: 19px;
}
.about h3
{
    text-align: right;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 80px 20px;
}
.about img
{
    width: 100%;
    padding: 20px 0px 10px;
}

.zdjecia h2
{
    text-align: center;
    font-size: 30px;
    padding: 0px 30px 30px;
    font-family: 'Poppins', sans-serif;

}
.zdjecie1
{
    width: 100%;
    height: 80%;
}
.zdjecie2
{
    width: 100%;
    height: 50%;
}
.zdjecia
{
    width: 100%;
}
.zdjecia img
{
    width: 100%;
    height: 70%;
}
@media only screen and (min-width: 1300px)
{
.wrapper
{
    width: 1300px;
    margin: 0 auto;
}
.menu
{
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}
.menu a
{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 600;
}
.menu h4
{
    font-size: 28px;
    text-decoration: none;
    font-family: 'Agdasima', sans-serif;
    margin-right: 600px;
    padding: 5px;
    color: white;
    background-color: black;
}
.baner
{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.about
{
    padding-top: 40px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto ;
}
.about img
{
    width: 96%;
}
.about p
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 30px 20px;
    line-height: 26px;
}
.zdjecia h2
{
    font-size: 30px;
    padding: 30px 30px 30px;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid gray;
    letter-spacing: 6px;
}
}